.main_header {
  height: 50px;
  padding-top: 10px;
  text-align: left;
  border-bottom: 1px solid;
  background: #fdb12e;
}

.school_left_div {
  margin: 15px 0 0 30px;
  float: left;
}

.school_right_div {
  width: 40%;
  margin: 15px 60px 0 0;
  float: right;
}

.page_inner_div {
  margin-top: 20vh;
}

.resource_btn:hover {
  background-color: #1e73be;
}
