.container {
  position: absolute;
  text-align: center;
}

.settings_wrapper {
  width: 100%;
  height: 1000px;
}

.address_wrapper {
  height: 330px;
}

.main_header {
  height: 50px;
  padding-top: 10px;
  text-align: left;
  border-bottom: 1px solid;
  background: #fdb12e;
}

.address_header {
  margin-left: 15px;
  text-align: left;
}

input[type='text'] {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 200px;
}

.form_inner_div {
  float: right;
  white-space: nowrap;
  margin: auto;
  width: 300px;
}

.form_outer_div {
  width: 450px;
  padding-right: 115px;
}

.save_btn {
  float: right;
  margin: 10px 0 0 200px;
}

.form_label {
  float: left;
  width: 90px;
  margin: auto;
  vertical-align: bottom;
  line-height: 32px;
}

.address_div {
  float: left;
  width: 40%;
}

.gradeFormat_div {
  float: right;
  width: 42%;
}

.radio_div {
  float: right;
  height: 40px;
  width: 100%;
  margin: 0 10px 0 0;
}

.radio_label {
  float: left;
  width: 200px;
  margin: 7px 0 0 20px;
}

.radio_input {
  position: fixed;
  float: left;
  box-shadow: none !important;
}

.support_div {
  display: inline-grid;
  text-align: -webkit-center;
  position: absolute;
  top: 400px;
  left: 600px;
  width: 300px;
}

.support_icon {
  display: inline;
}
