.menu_div {
	background: #1e73be;
	float: left;
	width: 101px;
	display: block;
	margin: 0 5px 0 0;
	height: 800px;
	border-right: 1px solid #c4c1c1;
	padding-top: 20px;
	position: relative;
}

.menu_btn {
	width: 100px;
	padding: 10px 10px 10px 10px;
	border: none !important;
	background: #1e73be !important;
	outline: none !important;
}

.selectedButton {
	color: #1dbb90;
}

.version {
	width: 100px;
	background: #1e73be !important;
	outline: none !important;
	border: none !important;
	margin-top: 20px !important;
	font-size: 10px !important;
	position: sticky;
}
