.dropdown_div {
  display: inline-block;
  margin: 0 0 15px 15px;
}

.dropdown_main_div {
  text-align: center;
}

.center_header {
  height: 50px;
  padding-top: 10px;
  text-align: left;
  border-bottom: 1px solid;
  background: #fdb12e;
}

.chart {
  width: 920px !important;
  height: 500px !important;
  position: fixed !important;
  left: 100px !important;
  top: 150px !important;
}

.chart_div {
  width: 924px;
  height: 520px;
  margin: 30px 0 0 100px;
  background-color: #d1f74a;
}

.pdf_btn {
  margin-left: 40px;
  background-color: Transparent !important;
  border: none !important;
  outline: none;
  font-size: 14px;
  color: black !important;
}
