.capability_wrapper {
  width: 100%;
  height: 1000px;
}

.main_header {
  height: 50px;
  padding-top: 10px;
  text-align: left;
  border-bottom: 1px solid;
  background: #fdb12e;
}

.dropdown_div {
  display: inline-block;
  margin: 0 0 15px 15px;
}

.dropdown_main_div {
  text-align: center;
}

.table_main_dev {
  margin-left: 100px;
  width: 90.2%;
  height: 650px;
  position: absolute;
}

th,
td,
tbody {
  border: 1px solid black !important;
}

.form_div {
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  overflow-y: auto;
  height: 100%;
  background: #fdb12e;
}

.radio_label {
  display: block;
  text-align: center;
  font-size: 12px;
}

.radio_td {
  white-space: normal;
  height: 50px;
  padding: 0 !important;
  text-align: center;
}

.radio_input {
  margin: auto !important;
  position: static !important;
}

.save_Btn {
  float: right;
  margin: 0 10px 10px 0;
}

.change_Btn {
  margin-left: 15px;
  z-index: 0;
}

th {
  width: 1000px;
}
