.notes_wrapper {
  width: 100%;
  height: 1000px;
}

.main_header {
  height: 50px;
  padding-top: 10px;
  text-align: left;
  border-bottom: 1px solid;
  background: #fdb12e;
}

.dropdown_one {
  float: left;
  margin: 0 5px 0 100px;
}
.dropdown_two {
  float: left;
}
.dropdown_main_div {
  height: 45px;
  width: 465px;
  margin: auto;
  text-align: center;
}

.clear_Btn {
  position: absolute;
  left: 200px;
}
